@page
@model IndexModel

<html>
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/Main_Page_StyleSheet.css">
</head>

<body>  

<button type="button" id="getUsers">Get users</button>

<div id="content">
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/index.js"></script>
@{
  if (Request.Cookies["token"] != null)
  {
    <script>
      $('.auth-block').hide()
      $('.user-authorized').attr('hidden', false);
    </script>
  }
}
</body>

</html>