@page
@model AnimeWebApplication.Pages.Login

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div class="container">
    <div class="col-3"></div>
    <form method="post">
        <div class="col-6">
            <input class="row" type="text" name="email" placeholder="email"/>
            <input class="row" type="text" name="password" placeholder="password"/>
            <button class="row" type="submit" style="margin-bottom: 400px">Sign in</button>
            
        </div>
    </form>
</div>
</body>
</html>