@page
@model AnimeWebApplication.Pages.Rules

@{
    Layout = "Shared/_Layout";
}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="~/css/rules.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="main-page">
    <div class="content-page">
      <h2>Правила сайта</h2>
      <p>Незнание правил не освобождает вас от ответственности за их нарушение, убедительно рекомендуем с ними
        ознакомиться.
      </p>
      <p style="text-decoration: underline;">Если пользователь регулярно нарушает указанные правила сайта, его аккаунт
        будет
        заблокирован без права восстановления.</p>
      <p>На всем сайте категорически запрещены:</p>
      <ol>
        <li>Расизм, разжигание межнациональной розни, пропаганда фашизма/нацизма</li>
        <li>Пропаганда наркотиков и реклама ресурсов, содержащих их рекламу и информацию</li>
      </ol>
      <h2>Общие правила</h2>
      <div class="cont">- В никах не должна присутствовать нецензурная лексика
        (как
        прямая, так и завуалированная), оскорбительные выражения (в том числе расистского характера), текст
        связанный с
        порнографией.<br>- Ваш ник не должен подделывать существующие ники (использовать ники, трудноразличимые
        написанием от ника какого-либо другого пользователя)</div>

      <h2>Общие правила</h2>
      <p>Запрещаются:</p>
      <p>Нецензурная брань</p>
      <p>Спойлеры</p>
      <p>Любые проявления нетерпимости</p>
      <p>Угрозы</p>

    </div>

  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>